@model CRUDApp.Models.User

<h2>Crear Usuario</h2>

<form method="post">
    <input type="text" asp-for="Username" placeholder="Usuario" />
    <input type="password" asp-for="Password" placeholder="Contraseña" />
    <button type="submit">Guardar</button>
</form>
