@model CrudApp.Models.Product

<h2>💄 Crear Producto</h2>

<form method="post">

    <input asp-for="Name" placeholder="Nombre" />
    <span asp-validation-for="Name"></span>

    <input asp-for="Brand" placeholder="Marca" />
    <span asp-validation-for="Brand"></span>

    <input asp-for="Category" placeholder="Categoría" />
    <span asp-validation-for="Category"></span>

    <input asp-for="Shade" placeholder="Tono" />

    <input asp-for="Price" placeholder="Precio" />
    <span asp-validation-for="Price"></span>

    <input asp-for="Quantity" placeholder="Cantidad" />
    <span asp-validation-for="Quantity"></span>

    <input asp-for="ExpirationDate" type="date" />

    <input asp-for="Description" placeholder="Descripción" />

    <button type="submit">Guardar</button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}